Подключение библиотек

In [ ]:
import pandas as pd

# 0) Загрузка датасета

In [ ]:
data = pd.read_csv(r"sportmaster_full_dataset.csv")

data.head(3)

,device_type,event_id,user_id,user_is_authorized,location_id,create_timestamp,product_id,product_is_pick_up,product_is_pick_point,product_is_delivery,product_is_now,product_price,ret_discount,product_category,product_gender,product_age,brand_lvl,add_to_cart_flag,create_order_flag
0,desktop,cd4192b5-3709-46dd-a601-444dde3e762d,1,0,968,2024-06-02 10:46:21.989,68390,0.0,1.0,0.0,0.0,5280,950,инвентарь,унисекс,взрослые,1,0,0
1,desktop,dd8a2b1a-9268-4930-b414-cfbd9cda16d7,2,0,725,2024-06-08 20:03:52.614,46818,0.0,1.0,1.0,0.0,2599,1300,одежда,женский,взрослые,1,0,0
2,desktop,0416ecb1-e53a-474b-9cbc-ca3009dbaed6,3,0,968,2024-06-19 06:08:03.096,79467,0.0,1.0,1.0,0.0,5599,3471,одежда,мужской,дети,2,0,0

In [ ]:
data.info(memory_usage = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000000 entries, 0 to 6999999
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   device_type            7000000 non-null  object
 1   event_id               7000000 non-null  object
 2   user_id                7000000 non-null  int64
 3   user_is_authorized     7000000 non-null  int64
 4   location_id            7000000 non-null  int64
 5   create_timestamp       7000000 non-null  object
 6   product_id             7000000 non-null  int64
 7   product_is_pick_up     6999989 non-null  float64
 8   product_is_pick_point  6999989 non-null  float64
 9   product_is_delivery    6999989 non-null  float64
 10  product_is_now         6999989 non-null  float64
 11  product_price          7000000 non-null  int64
 12  ret_discount           7000000 non-null  int64
 13  product_category       7000000 non-null  object
 14  product_gender         7000000 non-null  object
 15  product_age            7000000 non-null  object
 16  brand_lvl              7000000 non-null  int64
 17  add_to_cart_flag       7000000 non-null  int64
 18  create_order_flag      7000000 non-null  int64
dtypes: float64(4), int64(9), object(6)
memory usage: 1014.7+ MB

Всего в датасете 19 столбцов и 7 000 000 строк. 

Столбцы определены несколькими типами данных: float64, int64, object. При этом столбец, описывающий дату и время совершения события, определен как object.

В нескольких столбцах присутствуют пропущенные значения: product_is_pick_up, product_is_pick_point, product_is_delivery, product_is_now.

In [ ]:
print(f"Количество пропущенных значений:\n{data.isna().sum()}\n")
print(f"Процент пропущенных значений в наборе данных: {sum(data.isna().sum()) / (data.shape[1] * data.shape[0]) * 100}%")

Количество пропущенных значений:
device_type               0
event_id                  0
user_id                   0
user_is_authorized        0
location_id               0
create_timestamp          0
product_id                0
product_is_pick_up       11
product_is_pick_point    11
product_is_delivery      11
product_is_now           11
product_price             0
ret_discount              0
product_category          0
product_gender            0
product_age               0
brand_lvl                 0
add_to_cart_flag          0
create_order_flag         0
dtype: int64

Процент пропущенных значений в наборе данных: 3.3082706766917295e-05%

Количество пропущенных значений невероятно мало по сравнению с общим числом строк в наборе данных. 

В таком случае самый оптимальный способ отчистки датасета - удаление всех строк с пропущенными значениями.

In [ ]:
data = data.dropna(axis = 0)
data = data.reset_index(drop = True)

data.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999989 entries, 0 to 6999988
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   device_type            6999989 non-null  object
 1   event_id               6999989 non-null  object
 2   user_id                6999989 non-null  int64
 3   user_is_authorized     6999989 non-null  int64
 4   location_id            6999989 non-null  int64
 5   create_timestamp       6999989 non-null  object
 6   product_id             6999989 non-null  int64
 7   product_is_pick_up     6999989 non-null  float64
 8   product_is_pick_point  6999989 non-null  float64
 9   product_is_delivery    6999989 non-null  float64
 10  product_is_now         6999989 non-null  float64
 11  product_price          6999989 non-null  int64
 12  ret_discount           6999989 non-null  int64
 13  product_category       6999989 non-null  object
 14  product_gender         6999989 non-null  object
 15  product_age            6999989 non-null  object
 16  brand_lvl              6999989 non-null  int64
 17  add_to_cart_flag       6999989 non-null  int64
 18  create_order_flag      6999989 non-null  int64
dtypes: float64(4), int64(9), object(6)
memory usage: 1014.7+ MB

Сохранение обработанного датасета

In [ ]:
data.to_csv(r"sm_lab_data_prepared.csv", index = False)